* {
  margin: 0;
  padding: 0;
}

.body1 {
  z-index: 850;
  background-color: rgb(26, 25, 25);
  background-size: cover;
  background-position: 50% 50%;
  /* background-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(26, 25, 25) 100%
    ),
    url(../images/BreakingBad.webp); */
  width: 100%;
  height: 880px;
  background-repeat: no-repeat;
  position: relative;
}

.body1.active {
  overflow: hidden;
}

.navbar {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  gap: 500px;
  width: 100%;
  background-color: transparent;
  transition: 0.3s all;
  padding-top: 20px;
  padding-left: 60px;
  padding-bottom: 20px;
  padding-right: 60px;
  align-items: center;
  display: flex;
  position: fixed;
}

.navbar.active {
  z-index: 1000;
  background-color: rgb(16, 15, 15);
}

.navbar img {
  width: 31px;
  height: 27px;
}

#logo {
  cursor: pointer;
  margin-right: 50px;
  width: 105px;
  height: 31px;
}

#profile {
  width: 38px;
  height: 37px;
  border-radius: 5px;
}

#dropdown {
  transform: rotate(90deg);
  height: 8x;
  width: 10px;
}

#dropdown:hover {
  transform: rotate(270deg);
  transition: 0.5s;
}

.navigation {
  display: flex;
}
.navigation a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  align-self: center;
  margin-right: 20px;
  font-size: 17px;
  opacity: 0.9;
  font-weight: 400;
  color: white;
}

.navigation a:hover {
  transition: 0.73s;
  color: rgba(214, 213, 213, 0.8);
}

.navigation a.active {
  color: white;
  font-weight: bold;
}

.navigation .current {
  opacity: 1;
  color: white;
  font-weight: 700;
}

.setting {
  cursor: pointer;
  gap: 10px;
  align-items: center;
  display: flex;
}

.setting.active {
  margin-left: 41px;
}

.setting p {
  text-align: end;
  font-size: 15px;
  color: white;
}

.search {
  z-index: 950;
}
.search.active {
  background-color: rgba(11, 10, 10, 0.7);
  transition: all 0.3s ease;
  z-index: 900;
  border: 2px solid white;
  padding-right: 265px;
  padding-left: 2px;
  padding-top: 1px;
  padding-bottom: 1px;
  position: absolute;
  left: 960px;
}

.searchField {
  background-color: transparent;
  width: 260px;
  height: 25px;
  outline: none;
  border: none;
  z-index: 950;
  color: white;
}

.searchField::placeholder {
  font-size: 15px;
  color: rgba(214, 213, 213, 0.8);
}

.searchText {
  display: flex;
  position: absolute;
  left: 1000px;
  opacity: 0;
}

.searchText p {
  font-weight: lighter;
  margin-left: 5px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0.6;
}

.searchText.active {
  opacity: 1;
}

.row {
  padding-left: 60px;
  position: absolute;
  top: 190px;
}

.series {
  display: flex;
  gap: 5px;
}

.series img {
  width: 35px;
  height: 35px;
}

.series p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-self: center;
  font-weight: bolder;
  letter-spacing: 5px;
  font-size: 20px;
  color: rgb(207, 206, 206);
}

#title {
  width: 600px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#title h1 {
  z-index: 999;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 5px;
  font-size: 70px;
  color: white;
}

#title p {
  z-index: 999;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  font-size: 17px;
  text-overflow: ellipsis;
}

.row2 {
  display: flex;
  gap: 999px;
}

.buttons {
  gap: 20px;
  display: flex;
}

.buttons img {
  align-self: center;
  width: 25px;
  height: 25px;
}

#play {
  cursor: pointer;
  display: flex;
  background-color: white;
  border: none;
  padding: 11px 24px 11px 24px;
  gap: 10px;
  border-radius: 5px;
}

#play:hover {
  transition: 0.5s;
  background-color: rgb(231, 229, 229, 0.9);
}

#play p {
  font-weight: 600;
  font-size: 20px;
  align-self: center;
}

#more-info {
  cursor: pointer;
  display: flex;
  background-color: rgba(76, 72, 72, 0.6);
  color: white;
  border: none;
  padding: 11px 24px 11px 24px;
  gap: 10px;
  border-radius: 5px;
}

#more-info p {
  font-weight: 600;
  font-size: 20px;
  align-self: center;
}

#more-info:hover {
  background-color: rgb(99, 98, 98, 0.6);
}

#volumeage {
  align-self: center;
  display: flex;
  gap: 15px;
}

#volumeage img {
  padding: 6px;
  border-radius: 50%;
  border: 3px solid white;
  align-self: center;
  width: 25px;
  height: 25px;
  background-color: white;
  opacity: 0.6;
}

#volumeage p {
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8px;
  padding-right: 45px;
  border-left: 3.5px solid rgb(199, 199, 199);
  background-color: rgb(62, 62, 62, 0.5);
  color: white;
  font-size: 18px;
}

.movie_lists {
  padding-top: 20px;
  padding-left: 60px;
  position: relative;
  top: 650px;
}

.movie p {
  color: rgb(224, 224, 224);
  font-size: 24px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
}

.ImageContainer {
  height: 280px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  display: flex;
  gap: 10px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.ImageContainer::-webkit-scrollbar {
  display: none;
}

.ImageContainer img {
  height: 250px;
  z-index: 800;
  object-fit: cover;
  cursor: pointer;
  border-radius: 10px;
  position: relative;
}

.ImageContainer img:hover {
  transform-origin: center;
  z-index: 850;
  height: 280px;
  border-radius: 0%;
  transform: scale(1.08);
}

.preBtn {
  height: 70px;
  z-index: 900;
  opacity: 0;
  outline: none;
  border: none;
  background: transparent;
  object-fit: contain;
  margin-top: 97.5px;
  position: absolute;
  left: 2px;
  transform: rotate(90deg);
  align-self: center;
}

.nxtBtn {
  height: 70px;
  z-index: 900;
  opacity: 0;
  outline: none;
  border: none;
  background: transparent;
  object-fit: contain;
  margin-top: 97.5px;
  position: absolute;
  right: 2px;
  transform: rotate(-90deg);
  align-self: center;
}

.nxtBtn:hover,
.preBtn:hover {
  /* background-color: rgb(43, 43, 43, 0.5); */
  z-index: 1000;
  opacity: 1;
}

/* Detail Page Css */

.body2 {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(90, 90, 90, 0.5);
  z-index: 9999;
}
.detailPage {
  height: 100%;
  position: fixed;
  top: 50px;
  left: 50px;
  margin-left: 285px;
  margin-right: 284px;
  height: 100%;
  overflow-y: scroll;
}

.detailPage::-webkit-scrollbar {
  display: none;
}

.body2.active {
  display: block;
}

#detail_img {
  /* background-image: linear-gradient(
      to bottom,
      transparent 0%,
      rgb(34, 34, 34) 100%
    ),
    url(../images/detail.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  display: block;
  width: 950px;
  height: 580px;
  margin-top: 20px;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

#detail_title {
  width: 550px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-self: center;
  font-weight: bolder;
  font-size: 40px;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 50px;
  top: 300px;
}

.close {
  cursor: pointer;
  position: absolute;
  left: 895px;
  top: 30px;
  background-color: rgba(212, 211, 211, 0.2);
  padding: 8px;
  border-radius: 50%;
}

.details p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  width: 440px;
  cursor: pointer;
  color: white;
  position: absolute;
  left: 500px;
  top: 420px;
}

.button {
  position: absolute;
  left: 60px;
  top: 440px;
  display: flex;
  gap: 10px;
}

.button img {
  cursor: pointer;
  align-self: center;
  width: 25px;
  height: 25px;
}

#play2 {
  cursor: pointer;
  display: flex;
  background-color: white;
  border: none;
  padding: 7px 25px 7px 25px;
  gap: 10px;
  border-radius: 3px;
}

#play2 p {
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  align-self: center;
}
#play2:hover {
  background-color: rgb(231, 229, 229, 0.7);
}

#addlike img {
  align-self: center;
  background-color: rgb(26, 25, 25, 0.4);
  margin-right: 5px;
  padding: 7px;
  border-radius: 50%;
  border: 1px solid white;
}

.episodes {
  background: linear-gradient(to top, rgb(1, 1, 1), rgb(34, 34, 34) 10%);
}

.episodes hr {
  color: rgb(171, 171, 171);
  margin-left: 55px;
  margin-right: 55px;
}

.info {
  padding: 55px;
  display: flex;
  color: white;
}

.description {
  flex: 2;
}

.cast {
  flex: 1;
}

.match {
  gap: 15px;
  display: flex;
  margin-bottom: 30px;
}

.match p {
  align-self: center;
  font-size: 20px;
  color: white;
}

.match p:first-of-type {
  opacity: 1;
  z-index: 100;
  color: rgb(38, 240, 38);
  font-weight: bold;
}

.match img {
  align-self: center;
  width: 30px;
  height: 25px;
}

#hd {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 5.5px 0px 5.5px;
  border: 1px solid;
}

#PG {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 5px 0px 5px;
  border: 1px solid;
}

.description > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 300;
  font-size: 17px;
  width: 460px;
}

.cast p {
  font-size: 17px;
  display: inline;
}
.cast p:nth-of-type(odd) {
  font-weight: bolder;
  font-size: 18px;
  color: rgb(99, 98, 98);
}

.header {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 10px;
  justify-content: space-between;
  display: flex;
  color: white;
}

.header > p {
  align-self: center;
  font-size: 30px;
  font-weight: bold;
}

.header button {
  background-color: rgba(53, 53, 53, 0.8);
  align-self: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: bold;
  width: 180px;
  padding: 10px 12px 10px 12px;
  display: flex;
  border: 1px solid;
  border-radius: 6px;
  color: white;
}

.season img {
  align-self: center;
  transform: rotate(90deg);
  height: 12px;
  width: 30px;
}

.episode_list {
  margin: 30px 90px 30px 90px;
  display: flex;
  gap: 10px;
}

.episode_list img {
  width: 150px;
  height: 80px;
}

#episode_title {
  justify-content: space-between;
  display: flex;
  margin-top: 5px;
  margin-bottom: 17px;
}

.episode_list > p {
  font-size: 20px;
  align-self: center;
  color: white;
}

.episode_list p {
  color: white;
}

.icon {
  margin-top: 50px;
  padding-left: 60px;
  font-size: 27px;
  font-weight: bold;
  color: white;
  gap: 10px;
  font-family: sans-serif;
  display: flex;
}

.more {
  margin-top: 50px;
  padding-left: 60px;
  font-size: 27px;
  font-weight: bold;
  color: white;
  gap: 10px;
  font-family: sans-serif;
  display: flex;
}

.Collections {
  padding-left: 60px;
  padding-right: 60px;
  color: white;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.Collections > div {
  padding-bottom: 10px;
  border-radius: 3px;
  position: relative;
  background-color: rgba(80, 77, 77, 0.4);
}

.Collections div:hover {
  cursor: pointer;
}

.Collections img {
  position: relative;
  width: 100%;
  height: 150px;
}

#seasonNo {
  z-index: 100;
  font-size: 20px;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 5px;
  color: white;
}

#playbtn {
  width: 30px;
  height: 30px;
  background-color: rgb(75, 69, 69, 0.6);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid white;
  align-self: center;
  position: absolute;
  display: none;
  left: 110px;
  top: 50px;
}
.searchInfo {
  color: white;
  font-size: 50px;
}
.img:hover ~ #playbtn {
  display: block;
}

#playbtn:hover {
  display: block;
}

.desc {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.desc img {
  width: 22px;
  height: 22px;
  background-color: transparent;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid white;
}

#horizontal {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  gap: 10px;
  display: flex;
}

.Collections > div > p {
  color: rgb(190, 184, 184);
  font-size: 17px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding-left: 15px;
  padding-right: 15px;
}

#green {
  color: rgb(51, 193, 51);
  font-size: 20px;
  font-weight: bold;
}

.about {
  margin-bottom: 50px;
  padding-left: 60px;
  color: white;
}

.about p {
  font-size: 20px;
  display: inline;
}

.about h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.about p:nth-of-type(odd) {
  font-weight: bolder;
  font-size: 18px;
  color: rgb(99, 98, 98);
}
