* {
    margin: 0;
    padding: 0;
}

.body1 {
    background-image: linear-gradient(to bottom, transparent 40%,  rgb(26, 25, 25)88%), url(../images/BreakingBad.webp);
    background-size: cover;
    backdrop-filter: blur(5px, 80%);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    position: relative;
}

.navbar {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    background-color: transparent;
    transition: 0.3s all;
    padding: 4.5px 12px 4.5px 12px;
    align-items: center;
    display: flex;
    position: fixed;
}

.navbar.active {
    z-index: 1000;
    background-color: rgb(16, 15, 15);
}

.navbar img {
    width: 5px;
    height: 6px;
}

#logo {
    cursor: pointer;
    margin-right: 10px;
    width: 22px;
    height: 6px;
}

#profile {
    width: 7px;
    height: 7px;
    border-radius: 1px;
}

#dropdown {
    transform: rotate(90deg);
    height: 1x;
    width: 2px;
}

#dropdown:hover {
    transform: rotate(270deg);
    transition: 0.5s;
}

.navigation {
    display: flex;
}
.navigation a{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    margin-right: 4px;
    font-size: 4px;
    font-weight: 500;
    color: rgb(230, 230, 230,0.7);
}

.navigation a:hover {
    transition: 0.5s;
    color: white;
}

.navigation a.active {
    color: white;
    font-weight: bold;
}

.setting {
    cursor: pointer;
    position: absolute;
    right: 37px;
    gap: 3px;
    align-items: center;
    display: flex;
}

.setting p{
    text-align: end;
    font-size: 3px;
    color: white;
}

.series {
    padding-left: 3.5px;
    display: flex;
}

.series img {
    width: 5px;
    height: 5px;
}

.series p{
    align-self: center;
    font-size: 3px;
    color: white;
}
.row {
    padding: 6.5px 12px 0px 8.5px;
    position: absolute;
    top: 30px;
}

#title {
    width: 120px;
}
#title img {
    width: 95px;
    height: 35px;
}

#title p {

    padding: 5px 12px 0px 3.5px;
    color: white;
    font-size: 4px;
}

#rows {
    position: relative;
    top: 100px;
    display: flex;
    margin-left: 12px;
    justify-content: space-between;
}

#volumeage {
    align-self: center;
    display: flex;
    gap: 3px;
}

#volumeage img {
    padding: 1px;
    border-radius: 50%;
    border: 0.5px solid white;
    align-self: center;
    width: 5px;
    height: 5px;
    background-color: white;
    opacity: 0.6;
}

#volumeage p {
    align-self: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 11px;
    border-left: 0.5px solid white;
    background-color: rgb(62, 62, 62, 0.5);
    color: white;
    font-size: 4px;
}

.buttons{
    margin-top: 2px;
    gap: 2px;
    display: flex;
}

.buttons img {
    align-self: center;
    width: 5px;
    height: 5px;
}

#play {
    cursor: pointer;
    display: flex;   
    background-color: white;
    border: none;
    padding: 2px 5px 2px 5px;
    gap: 2px;
    border-radius: 1px;
}
#play:hover{
    background-color: rgb(231, 229, 229,0.9);
}

#play p {
    font-weight: 700;
    font-size: 3.5px;
    align-self: center;
}


#more-info {
    cursor: pointer;
    display: flex;
    background-color: rgb(99, 98, 98, 0.9);
    color: white;
    border: none;
    padding: 2px 5px 2px 5px;
    gap: 2px;
    border-radius: 1px;
    font-size: 5px;
}

#more-info p {
    font-weight: 700;
    font-size: 3.5px;
    align-self: center;
}

#more-info:hover {
    background-color: rgb(99, 98, 98, 0.6);
}

.scroll_lists {
    background:linear-gradient(to top, rgb(1, 1, 1),  rgb(26, 25, 25) 90%);
    position:relative;
    top: 130px;
}
.scroll_lists div {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    display: flex;
    flex-direction: row;
    margin-right: 0px;
    margin-left: 12px;
    margin-bottom: 12px;
    overflow-x: scroll;
    scrollbar-width: 10px;
}

.scroll_lists div::-webkit-scrollbar {
    display: none;
}

.scroll_lists div img {
    cursor: pointer;
    object-fit: contain;
    width: 60px;
    min-height: 35px;
    margin-left: 1px;
    border-radius: 1px;
}

.scroll_lists div img:hover {
    max-height: 70px;
    transform:scale(1.08);
    transition: 0.3s;
}

.scroll_lists p {
    color: rgb(224, 224, 224);
    font-size: 4.5px;
    font-weight: 700;
    margin-bottom: 3px;
    margin-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
}


/* Detail Page Css */

.body2 {
    position: relative;
    margin-left: 285px;
    margin-right: 284px;
}

#detail_img {
    background-image: linear-gradient(to bottom, transparent 80%,  rgb(34, 34, 34)100%), url(../images/detail.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    width: 950px;
    height: 580px;
    margin-top: 20px;
    border-radius: 15px 15px 0px 0px;
    position: relative;
}

#detail_title {
    cursor: pointer;
    width: 330px;
    height: 150px;
    position: absolute;
    left: 50px;
    top: 250px;
}

.close {
    cursor: pointer;
    position: absolute;
    left: 895px;
    top: 18px;
    background-color: rgb(71, 70, 70, 0.5);
    padding: 8px;
    border-radius: 50%;
}

.details p {
    cursor: pointer;
    width: 400px;
    color: white;
    position: absolute;
    left: 540px;
    top: 370px;
    font-size: 25px;
    letter-spacing: 2px;
}

.button {
    position: absolute;
    left: 60px;
    top: 440px;
    display: flex;
    gap: 10px;
}

.button img {
    cursor: pointer;
    align-self: center;
    width: 25px;
    height: 25px;
}

#play2 {
    cursor: pointer;
    display: flex;
    background-color: white;
    border: none;
    padding: 7px 25px 7px 25px;
    gap: 10px;
    border-radius: 3px;
}

#play2 p {
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    align-self: center;
}
#play2:hover{
    background-color: rgb(231, 229, 229,0.7);
}

#addlike img {
    align-self: center;
    background-color: rgb(26, 25, 25, 0.4);
    margin-right: 5px;
    padding: 7px;
    border-radius: 50%;
    border: 1px solid white;
}

.episodes{
    background:linear-gradient(to top, rgb(1, 1, 1),  rgb(34, 34, 34) 10%);
}

.episodes hr {
    color: rgb(171, 171, 171);
    margin-left: 55px;
    margin-right: 55px;
}

.info {
    padding: 55px;
    display: flex;
    color: white;
}

.description {
    flex: 2;
}

.cast {
    flex: 1;
}

.match {
    gap: 15px;
    display: flex;
    margin-bottom: 30px;
    
}

.match p {
    align-self: center;
    font-size: 20px;
    color: white;
}

.match p:first-of-type {
    opacity: 1;
    z-index: 100;
    color: rgb(38, 240, 38);
    font-weight: bold;
}

.match img {
    align-self: center;
    width: 30px;
    height: 25px;
}

#hd {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 5.5px 0px 5.5px;
    border: 1px solid;
}

#PG {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px 5px 0px 5px;
    border: 1px solid;
}

.description > p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    font-size: 17px;
    width: 460px;
}

.cast p {
    font-size: 17px;
    display: inline;
}
.cast p:nth-of-type(odd) {
    font-weight: bolder;
    font-size: 18px;
    color: rgb(99, 98, 98);
}

.header {
    padding-left: 55px;
    padding-right: 55px;
    padding-bottom: 10px;
    justify-content: space-between;
    display: flex;
    color: white;
}

.header > p {
    align-self: center;
    font-size: 30px;
    font-weight: bold;
}


.header button {
    background-color: rgba(53, 53, 53, 0.8);
    align-self: center;
    justify-content: space-between;
    font-size: 20px;
    font-weight: bold;
    width: 180px;
    padding: 10px 12px 10px 12px;
    display: flex;
    border: 1px solid;
    border-radius: 6px;
    color: white;
}

.season img {
    align-self: center;
    transform: rotate(90deg);
    height: 12px;
    width: 30px;
}

.episode_list {
    margin: 30px 90px 30px 90px;
    display: flex;
    gap: 10px;
}

.episode_list img {
    width: 150px;
    height: 80px;
}

#episode_title {
    justify-content: space-between;
    display: flex;
    margin-top: 5px;
    margin-bottom: 17px;
}

.episode_list > p {
    font-size: 20px;
    align-self: center;
    color: white;
}

.episode_list p {
    color: white;
}

.collection {
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.collection div {
    
    /* position: relative; */
    height: 300px;
    color: rgb(96, 0, 0);
}

.collection img {
    width: 250px;
    height: 150px;
}

.icon {
    display: flex;
}